@use "./resources/config" as c;
@use "./resources/global";

@use "./resources/header01";
@use "./resources/artForm02";
@use "./resources/moduloLoader01";

@use "./resources/artAcordeon01";

/*.artForm02 > h2 {
  color: c.$color02;
  font-size:
     clamp(1rem, 3vw, 2.5rem);
}*/

h2 {
  color: c.$color02;
  font-size:
     clamp(1rem, 3vw, 2.5rem);
}

//Centrar el titulo
.artForm02 > :nth-child(1) {
    text-align: center;
}

//Distancia del titulo al formulario
.artForm02 > h2 {
    margin-bottom: 1.5rem;
}

@media only screen and (min-width: c.$tablet) {
    .artForm02 > h2 {
        margin-bottom: 2.5rem;
    }
}

.artForm02 > div .contenedor-form {
  background-color: c.$colorboton6;
}

.artForm02 label {
  font-weight: 450;
}

.artForm02 > div > .contenedor-info ul li a {
    span { color: c.$color01; }
    img { filter: c.$colorbotonformulariosvg; }
}

.artAcordeon01 {

     .cabecera {

        > :nth-child(1) {

            > p:nth-of-type(2) {
                text-align: justify;
            }

        }

    }
    .contenedor {

        .ficha {
            min-height: 280px;

            .mostrar {
                margin-top: auto;
            }
        }
    }

        @media only screen and (min-width: c.$tablet) {

        .artAcordeon01 {

            .contenedor {

                .ficha {
                    min-height: 340px;
                }
            }
        }
    }

}

.artAcordeon01 .contenedor .ficha {
    background-color: c.$colorfondoacordeon;
}


//cambiar boton a naranja
#botonEnviarAjax {
  background-color: c.$colorbotonformulario; // o el naranja que confirmes
  &:hover {
    background-color: c.$color00;
    color: c.$colorbotonformulario;
    border-color: c.$colorbotonformulario;
  }
}